<%- include('partials/header') -%>

<h1>Home</h1>
<p><%= home %></p>

<%for(let i = 0; i<publishPosts.length; i++){%>
<%  console.log(publishPosts[i]['title'])%>
<%};%>


<%- include('partials/footer') -%>
